<a href="https://colab.research.google.com/github/HajiraRafiqa/Python-Practice/blob/main/Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Operators and operands

In [ ]:
2 + 3

_ = 10;

print(_ + 10)

name = "Hajira"

print(name[2])
print(name[-2])
print(name[::-1])
print(name[2:4])
name_1 = "My name is "+ name
print(name_1)
print(len(name_1))

20
j
r
arijaH
ji
My name is Hajira
17

Bitwise operators

In [ ]:


print(~15)
print(~25)

#new line 
print("\n")

#and 
print(12 & 13)

#or
print(12 | 13)

print(28 | 15)

print(25 | 30)

print("\n\n")

print(25 ^ 30)
print(28 ^ 15)
print("\n\n")

print(10 << 2)
print(10 >> 2)

-16
-26


12
13
31
31



7
19



40
2

In [ ]:
import math

print(math.sqrt(25))
print(math.ceil(5.87654))
print(math.floor(45.45768))
print(math.log10(25))
print(math.factorial(5))
print(math.factorial(10))
print(math.pow(3, 3))
print(math.pi)
print(math.e)

5.0
6
45
1.3979400086720377
120
3628800
27.0
3.141592653589793
2.718281828459045

input() - this takes String as default.

In [ ]:
x = int(input("Enter The 1st Number : "))
y = int(input("Enter The 2nd Number : "))

z = x + y

print(z)


ch = input('Enter a Char : ')[0]
print(ch)


result = eval(input('Enter an Expression : '))
print(result)


# Write a Code to find the cube of a number

num = int(input("Enter the Number That You want to find the Cube of : "))
print(num**3)

Enter The 1st Number : 6
Enter The 2nd Number : 8
14
Enter a Char : a
a
Enter an Expression : 2+3
5
Enter the Number That You want to find the Cube of : 2
8

if else

In [ ]:
a = 22

if a % 2 == 0:
    print("Even")

    if a > 10:
        print("Greater Than 10")
    else:
        print("Less Than 10")

else:
    print("Odd")

print("end")

print("\n")

x = 2
if x == 1:
    print("One")
elif x == 2:
    print("Two")
elif x == 3:
    print("Three")
elif x == 4:
    print("Four")
else:
    print("Greater Than 4")




#Write a code to check a given number is positive or negative
n = -5
if n > 0:
    print("Positive")
elif n < 0:
    print("Negative")
else:
    print("Zero")

print("\n\n")

#Take Three Values From User and Find the Greatest Number From Them

v1 = int(input("Enter The First Value : "))
v2 = int(input("Enter The Second Value : "))
v3 = int(input("Enter The Third Value : "))

if v1 > (v2 and v3):
    print("Value341 is Greatest Number")
elif v2 > (v1 and v3):
    print("Value2 is Greatest Number")
else:
    print("Value3 is Greatest Number")

Even
Greater Than 10
end


Two
Negative



Enter The First Value : 2
Enter The Second Value : 3
Enter The Third Value : 4
Value3 is Greatest Number

while loop

In [4]:

i = 0
while i < 5:
    print("Hello")
    i += 1

print("\n")
i = 5
while i>=1:
    print("Hello")
    i -= 1



i = 1
while i <= 5:
    print("ABC  ", i)
    i += 1


print("\n")

i = 1
while i <= 5:
    print("ABC ", end="")
    j = 1
    while j <= 4:
        print("letters ", end="")

        j += 1

    print()

    i += 1

print("\n")

# Assigments

# Write a code to print all the values from 1 to 100.
# Skip the number which are divisible by 3 or 5

i = 1
while i <= 100:
    if i % 3 == 0 or i % 5 == 0:
        pass
    else:
        print(i)
    i += 1

print("\n\n")


# 2. Write a Code to Print The Below Pattern
"""
pattern 

# # # # #
# # # # #
# # # # #
# # # # #

"""

a = 0
while a < 4:
    b = 0
    while b < 5:
        print("# ", end="")
        b += 1
    a += 1
    print()

Hello
Hello
Hello
Hello
Hello


Hello
Hello
Hello
Hello
Hello
ABC   1
ABC   2
ABC   3
ABC   4
ABC   5


ABC letters letters letters letters
ABC letters letters letters letters
ABC letters letters letters letters
ABC letters letters letters letters
ABC letters letters letters letters


1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49
52
53
56
58
59
61
62
64
67
68
71
73
74
76
77
79
82
83
86
88
89
91
92
94
97
98



# # # # #
# # # # #
# # # # #
# # # # #

In [6]:

n = "Rafi"

for i in n:
    print(i)


for i in (7,43,6,6,"Rafi"):    # List of Sequence Values
    print(i)


for i in range(1, 11):
    print(i, end=" ")


for i in range(20, 5, -1):
    print(i, end=" ")



for i in range(1, 21):
    if i%5 != 0:
        print(i)


# 1. Print All The Perfect Square Numbers Between 1 and 50

for i in range(1, 51):
    if i**( 0.5 ) == int(i**( 0.5 )):
        print(i, end=" ")

R
a
f
i
7
43
6
6
Rafi
1 2 3 4 5 6 7 8 9 10 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
1 4 9 16 25 36 49